@model List<DataAccess.Data.Entities.Announcement>;

<div class="text-center">
    <h1 class="display-4">Announcements Catalog</h1>

    <div class="row row-cols-1 row-cols-md-5 g-4">
        @foreach (var i in Model)
        {
            <div class="col">
                <div class="card h-100">
                    <img height="200" src="@i.ImageURL" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@i.Name</h5>
                        <p class="card-text">Price: @i.Price$</p>
                        <a asp-controller="Announcements" asp-action="Detail" asp-route-id="@i.Id" class="btn btn-success mb-2">Details</a>
                        <a asp-controller="Favourite" asp-action="Add" asp-route-id="@i.Id" class="btn btn-secondary mb-2">Add to Favourites</a>
                        <a asp-controller="Orders" asp-action="Create" asp-route-id="@i.Id" class="btn btn-secondary mb-2">Buy</a>
                    </div>
                </div>
            </div>
        }
    </div>



</div>